{% load i18n %}{% autoescape off %}
Hi {{ user.get_username }},

We received a request to reset the password for your ScholarGrants account.

To create a new password, click the secure link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

For your security, this link will expire in 24 hours.

If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged and your account is secure.

Need help? Reply to this email or visit our support page: http://127.0.0.1:8000/contact/

Best,
The ScholarGrants Team
Empowering scholars, one page at a time.
{% endautoescape %}